@charset 'utf-8';
#loading{
  visibility: hidden;
  background-color: lightgrey;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
}

.hero {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 3/1;
    background: url('../images/34623407_m.webp') no-repeat center / cover;
}

.must span::after {
  content: "*";
  color: red;
  margin-left: 1rem;
}

/* fonts */

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
